<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>oN4cST7qIGYL700CVmALCVo14mTYYNf/sRXPcDaAZBg=</string>
	<key>SUFeedURL</key>
	<string>https://zhaibin.github.io/92CloudWallpaper_MacOS/updates/appcast.xml</string>
</dict>
</plist>
